.form-style-1{
    margin-bottom: 2rem;
    position: relative;
    .text-area{
        margin-top: 1rem;
    }
    .addButton{
        position: absolute;
        bottom: -7px;
        right: 8px
    }
}